<header class="card text-center">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>  
            <div class="col-md-6">
                <div class="container mb-3">
                    <img src="libs/images/header-image.png" class="img-responsive" width="20%" height="20%">
                </div>
                <div class="row">
                    <div class="col-md-3 p-2">
                        <span class="form-control input-body-disable"></span>
                    </div>
                    <div class="col-md-3 p-2">
                        <span class="form-control input-body-disable"></span>
                    </div>
                    <div class="col-md-3 p-2">
                        <span class="form-control input-body-disable"></span>
                    </div>
                    <div class="col-md-3 p-2">
                        <span class="form-control input-body-disable"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>  
    </div>
</header>
<section>
    <ng-content></ng-content>
</section>
<section>
    <div class="card pb-5"></div>
</section>
<footer class="card-footer text-muted">
    <div class="row mb-2">
        <div class="col-md-1"></div>  
        <div class="col-md-10">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 p-1 pb-3">
                                <span class="form-control input-header-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <span class="form-control input-body-sub1-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <span class="form-control input-body-sub2-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1 pb-3">
                                <span class="form-control input-body-sub1-disable"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 p-1 pb-3">
                                <span class="form-control input-header-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <span class="form-control input-body-sub1-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <span class="form-control input-body-sub2-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1 pb-3">
                                <span class="form-control input-body-sub1-disable"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 p-1 pb-3">
                                <span class="form-control input-header-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <span class="form-control input-body-sub1-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <span class="form-control input-body-sub2-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1 pb-3">
                                <span class="form-control input-body-sub1-disable"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 p-1 pb-3">
                                <span class="form-control input-header-disable"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pl-1 pb-2">
                                <span class="form-control input-textarea-disable"></span>
                            </div>  
                            <div class="col-md-4 pl-1 pb-2">
                                <span class="form-control input-textarea-disable"></span>
                            </div>  
                            <div class="col-md-4 pl-1 pb-2">
                                <span class="form-control input-textarea-disable"></span>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>   
        </div>  
        <div class="col-md-1"></div>            
    </div>
</footer>
